img{
  width: 25%;
  height: 25% ;
}
.nav{
  width: 20%;
text-align: center;
margin-left: auto;
margin-right: auto;
}
.navbar-dark{
  background-color: black;
}
.display-1{
  text-align: center;
}

.text-primary{
  text-align: center;
  font-size: 18px;
}
.col-lg-2{
  text-align: center;
  float:left;
  margin-left: 475px;
  width: 100%;
  margin-bottom: 10px;
}
.form-group{
  text-align: left;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  display:block;
}
 form input{
  margin-bottom: 10px;
  width:auto;
}
form button{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.navbar-dark p{
  text-align: center;
  color: lightgrey;
}
form .btn{
  margin-bottom: 10px;
}
.container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}
.container .btn{
  margin-bottom: 5px;

}
.second{
  background-color: darkgrey;
  margin-left: auto;
  margin-right: auto;
}
.second ul{
  width: 15%;
  margin-left: auto;
  margin-right: auto;
}
.addedPet{
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
#navBtns{
  display: block;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}
