<h1 class="display-1"> Add Your Pet</h1>
<div class = "add">
  <form class="addPet form-group">
    <label>Pet's Name:</label>
    <input type="text" id="petName" ng-model="petName" placeholder="Rover"><br>
    <label>Type of Pet:</label>
    <input type="radio" id="typeDog" ng-model="petType" value="Dog">Dog
    <input type="radio" id="typeCat"  ng-model="petType" value="Cat">Cat<br>
    <label>Pet's Age:</label>
    <input type="text" id="petAge" ng-model="petAge" value="" placeholder=" 3 years"><br>
    <label>Pet's Picture:</label>
    <input type="text" id="picSrc"  ng-model="petPic"value="" placeholder="pic URL"><br>
    <button class='btn btn-primary'id="PetIn" ng-click="addPet()">Add your Pet!</button>
  </form>
</div>
